<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Techademy Projects</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
<body>
	<header>
		<div class="container-fluid">
			<button type="button" class="hamburger">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<a href="#" class="techademy">Techademy</a>
			<ul class="navigation">
				<li class="close">
					<a href="#">&times;</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-home"></a>
				</li>
				<li>
					<a href="course-catelogue.html">COURSE CATELOGUE</a>
				</li>
				<li>
					<a href="mylearning.html" class="hasSubmenu">MY LEARNING <span class="glyphicon glyphicon-menu-down"></span></a>
					<ul class="dropMenu">
						<li class="back">
							<a href="#"><</a>
						</li>
						<li>
							<a href="#">Sub Menu 1</a>
						</li>
						<li>
							<a href="#">Sub Menu 2</a>
						</li>
						<li>
							<a href="#">Sub Menu 3</a>
						</li>
						<li>
							<a href="#">Sub Menu 4</a>
						</li>
						<li>
							<a href="#">Sub Menu 5</a>
						</li>
					</ul>

				</li>
				<li>
					<a href="myskills.html">MY SKILLS</a>
				</li>
				<li>
					<a href="assignments.html">ASSIGMENTS</a>
				</li>

				<li>
					<a href="badge.html">FAQ</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
				</li>
			</ul>


		</div>
	</header>
	<section>
		<div class="container-fluid">
			<button type="button" class="hambu-head">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<div class="search">
				<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<ul class="head-main">
				<li><a href="#">Leader board</a></li>
				<li><a href="#">Learning Paths</a></li>
				<li><a href="#">Social</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-menu-down"></span></a></li>

			</ul>
			
		</div>
	</section>
	<!-- course My Learning start-->
	<div class="container-fluid mt-2">
		<h4>Reports</h4>
	</div>
	<div class="container-fluid mt-3 text-center">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-2">
				<span>Select Reports to be Generated</span>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<p class="gen-report">Generate Report
					<span class="glyphicon glyphicon-menu-down"></span>
				</p>
			</div>
			<div class="col-12 col-sm-12 col-md-2 col-lg-2 mt-2">
				<button type="button" class="btn-primary btn-block gen-btn">Generate</button>
			</div>
			<div class="col-12 col-sm-12 col-md-1 col-lg-2 mt-2">
				
			</div>
			<div class="col-12 col-sm-12 col-md-2 col-lg-2 mt-2">
				<span class="glyphicon glyphicon-file"></span>
				<span class="glyphicon glyphicon-copy"></span>
			</div>
		</div>
	</div>
<!--assignments tables start----->
	<div class="container-fluid mt-4">
		<table class="table table1">
			<thead class="thead-table">
				<tr>
					<th><span class="glyphicon glyphicon-menu-down"></span>Title1</th>
					<th>Title2</th>
					<th>Title3</th>
					<th>Title4</th>
					<th>Title5</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="tbody-table">
				<tr>
					<td>Rewis Inc</td>
					<td>3,100</td>
					<td>897-455-5667</td>
					<td>Jane Doe</td>
					<td>Phoneix, AZ</td>
					<td><span class="glyphicon glyphicon-option-horizontal"></span></td>
				</tr>
				<tr>
					<td>Rewis Inc</td>
					<td>3,100</td>
					<td>897-455-5667</td>
					<td>Jane Doe</td>
					<td>Phoneix, AZ</td>
					<td><span class="glyphicon glyphicon-option-horizontal"></span></td>
				</tr>
				<tr>
					<td>Rewis Inc</td>
					<td>3,100</td>
					<td>897-455-5667</td>
					<td>Jane Doe</td>
					<td>Phoneix, AZ</td>
					<td><span class="glyphicon glyphicon-option-horizontal"></span></td>
				</tr>
				<tr>
					<td>Rewis Inc</td>
					<td>3,100</td>
					<td>897-455-5667</td>
					<td>Jane Doe</td>
					<td>Phoneix, AZ</td>
					<td><span class="glyphicon glyphicon-option-horizontal"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container-fluid">
		<nav aria-label="Page navigation example">
		  	<ul class="pagination justify-content-end">
			    <li class="page-item page-btn"><a class="page-link" href="#"><span class="glyphicon glyphicon-menu-left"></span></a></li>
			    <li class="page-item page-btn"><a class="page-link" href="#">Next<span class="glyphicon glyphicon-menu-right"></span></a></li>
		  	</ul>
		</nav>
	</div>

<!--assignments tables ends----->
	<footer>
		<div class="container-fluid">
			<ul class="footer-bottom">
				<li class="footer-item"><a href="#">Term Condition</a></li>
				<li class="footer-item"><a href="#">Privacy</a></li>
				<li><a href="#">Support</a></li>
				<li class="footer-item1"><a href="#">&copy; 2019 Techademy</a></li>
			</ul>
		</div>
	</footer>	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
</body>
</html>
