<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Techademy Projects</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
<body>
	<header>
		<div class="container-fluid">
			<button type="button" class="hamburger">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<a href="#" class="techademy">Techademy</a>
			<ul class="navigation">
				<li class="close">
					<a href="#">&times;</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-home"></a>
				</li>
				<li>
					<a href="course-catelogue.html">COURSE CATELOGUE</a>
				</li>
				<li>
					<a href="mylearning.html" class="hasSubmenu">MY LEARNING <span class="glyphicon glyphicon-menu-down"></span></a>
					<ul class="dropMenu">
						<li class="back">
							<a href="#"><</a>
						</li>
						<li>
							<a href="#">Sub Menu 1</a>
						</li>
						<li>
							<a href="#">Sub Menu 2</a>
						</li>
						<li>
							<a href="#">Sub Menu 3</a>
						</li>
						<li>
							<a href="#">Sub Menu 4</a>
						</li>
						<li>
							<a href="#">Sub Menu 5</a>
						</li>
					</ul>

				</li>
				<li>
					<a href="myskills.html">MY SKILLS</a>
				</li>
				<li>
					<a href="assignments.html">ASSIGMENTS</a>
				</li>

				<li>
					<a href="#">FAQ</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
				</li>
			</ul>


		</div>
	</header>
	<section>
		<div class="container-fluid">
			<button type="button" class="hambu-head">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<div class="search">
				<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<ul class="head-main">
				<li><a href="#">Leader board</a></li>
				<li><a href="#">Learning Paths</a></li>
				<li><a href="social.html">Social</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-menu-down"></span></a></li>

			</ul>
			
		</div>
	</section>
	<!-- course My Learning start-->
	<div class="mb-6"> 
		<img src="../img/plan.jpg" class="banner-bg">
		<h1 class="text-center font-weight-bold online-img">BADGES</h1>
	</div>

<!-- badges content start---->
	<div class="container-fluid group-btn">
		<div class="btn-group basic-group" role="group" aria-label="Basic example">
			<button type="button" href="#" class="btn btn-primary">All</button>
			<button type="button" href="#" class="btn btn-secondary">In Progress</button>
			<button type="button" href="#" class="btn btn-secondary">Earned</button>
		</div>
	</div>
	<div class="container-fluid mt-2">
		<h4 class="badge-h4">Badges In progress<span class="badge badge-pill badge-danger">4</span></h4>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges1a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Complete Course 1 to unluck this Badges</span>
						<p class="card-text text-warning">In Progress</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges2a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Complete Course 1 to unluck this Badges</span>
						<p class="card-text text-warning">In Progress</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges3a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Complete Course 1 to unluck this Badges</span>
						<p class="card-text text-warning">In Progress</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges4a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Complete Course 1 to unluck this Badges</span>
						<p class="card-text text-warning">In Progress</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mt-2">
		<h4 class="badge-h4">Badges Earned<span class="badge badge-pill badge-danger">21</span></h4>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges1a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges2a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges3a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges4a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> PDF</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> View Badges</span>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mt-2"> 
		<h4 class="badge-h4"> Peer Badges</h4>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges1a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> Completed Date</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> Peer Name</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges2a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> Completed Date</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> Peer Name</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges3a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> Completed Date</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> Peer Name</span>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 mt-2">
				<div class="card card-badges">
					<img src="../img/badges4a.jpg">
					<div class="card-body">
						<h5 class="card-title">BADGE NAME</h5>
						<span class="card-text">Download Your Badge to celebrate Your Achievement</span>
						<p class="card-text text-success">Complete</p><hr class="border border-secondary">
						<span class="glyphicon glyphicon-duplicate badges-span"> Completed Date</span>
						<span class="glyphicon glyphicon-paste float-right badges-span"> Peer name</span>
					</div>

				</div>
			</div>
		</div>
	</div>

	
	<div class="container-fluid mt-3">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<div class="badges-left1">
					<table class="table badges-table1">
						<thead class="badges-thead1">
							<tr>
								<th><h4>Badges Available</h4></th>
								<th></th>
							</tr>
						</thead>
						<tbody class="badges-tbody1">
							<tr>
								<td>Badge 1</td>
								<td><img src="../img/badges2.jpg"></td>
							</tr>
							<tr>
								<td>Badge 57</td>
								<td><img src="../img/badges3.jpg"></td>
							</tr>
							<tr>
								<td>Badge 14</td>
								<td><img src="../img/badges4.jpg"></td>
							</tr>
							<tr>
								<td></td>
								<td class="badges1-td1"><span class="glyphicon glyphicon-option-horizontal"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<div class="badges-left1">
					<table class="table badges-table1">
						<thead class="badges-thead1">
							<tr>
								<th><h4>Badges Recommended</h4></th>
								<th></th>
							</tr>
						</thead>
						<tbody class="badges-tbody1">
							<tr>
								<td>Badge 1</td>
								<td><img src="../img/badges2.jpg"></td>
							</tr>
							<tr>
								<td>Badge 57</td>
								<td><img src="../img/badges3.jpg"></td>
							</tr>
							<tr>
								<td>Badge 14</td>
								<td><img src="../img/badges4.jpg"></td>
							</tr>
							<tr>
								<td></td>
								<td class="badges1-td1"><span class="glyphicon glyphicon-option-horizontal"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<footer>
		<div class="container-fluid">
			<ul class="footer-bottom">
				<li class="footer-item"><a href="#">Term Condition</a></li>
				<li class="footer-item"><a href="#">Privacy</a></li>
				<li><a href="#">Support</a></li>
				<li class="footer-item1"><a href="#">&copy; 2019 Techademy</a></li>
			</ul>
		</div>
	</footer>	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
</body>
</html>
