<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Techademy Projects</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
<body>
	<header>
		<div class="container-fluid">
			<button type="button" class="hamburger">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<a href="#" class="techademy">Techademy</a>
			<ul class="navigation">
				<li class="close">
					<a href="#">&times;</a>
				</li>
				<li>
					<a href="home.html"><span class="glyphicon glyphicon-home"></a>
				</li>
				<li>
					<a href="course-catelogue.html">COURSE CATELOGUE</a>
				</li>
				<li>
					<a href="mylearning.html" class="hasSubmenu">MY LEARNING <span class="glyphicon glyphicon-menu-down"></span></a>
					<ul class="dropMenu">
						<li class="back">
							<a href="#"><</a>
						</li>
						<li>
							<a href="#">Sub Menu 1</a>
						</li>
						<li>
							<a href="#">Sub Menu 2</a>
						</li>
						<li>
							<a href="#">Sub Menu 3</a>
						</li>
						<li>
							<a href="#">Sub Menu 4</a>
						</li>
						<li>
							<a href="#">Sub Menu 5</a>
						</li>
					</ul>

				</li>
				<li>
					<a href="myskills.html">MY SKILLS</a>
				</li>
				<li>
					<a href="#">ASSIGMENTS</a>
				</li>

				<li>
					<a href="#">FAQ</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
				</li>
			</ul>


		</div>
	</header>
	<section>
		<div class="container-fluid">
			<button type="button" class="hambu-head">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<div class="search">
				<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<ul class="head-main">
				<li><a href="#">Leader board</a></li>
				<li><a href="#">Learning Paths</a></li>
				<li><a href="#">Social</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-menu-down"></span></a></li>

			</ul>
			
		</div>
	</section>
<!-- course catelogue start-->
	<div> 
		<img src="../img/banner2.jpg" class="banner-bg">
		<h1 class="text-center font-weight-bold online-img">Online Course</h1>
	</div>

	<div class="bar-button">
		<ul class="button-ul-left">
			<li>
				<div class="btn-group" role="group" aria-label="Basic example">
		 			<button type="button" class="btn btn-primary btn-pri" href="#">All</button>
				  	<button type="button" class="btn btn-secondary" href="#">Popular</button>
				  	<button type="button" class="btn btn-secondary btn-pri" href="#">Latest</button>
				</div>
				<span class="glyphicon glyphicon-filter"></span>
			</li>
		</ul>
		<ul class="button-ul-right d-flex justify-content-end">
			<li class="button-li one"><input type="text" name="name" placeholder="Category"><span class="glyphicon glyphicon-menu-down"></span></li>
			<li class="button-li"><span class="glyphicon glyphicon-th-large"></span></li>
			<li class="button-li"><span class="glyphicon glyphicon-th-list"></span></li>
		</ul>
	</div>
<!-- course catelogue end-->
<!-- card start-->
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bread-one">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item"><a href="#">Course catlogue</a></li>
			    <li class="breadcrumb-item active" aria-current="page"><a href="#">Course Details</a></li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card7.jpg">
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						
						
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card9.jpg">					
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card6.jpg">					
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card8.jpg">
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card5.jpg">					
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card6.jpg">					
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card7.jpg">
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card8.jpg">					
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="card card-course">
					<img src="../img/card9.jpg">					
					<div class="card-body">
						<span><h5 class="card-title card-head5">Course name</h5></span>
						<span class="glyphicon glyphicon-star-empty card-span1"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<span class="glyphicon glyphicon-star card-span"></span>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<div class="card-footer">
							<span class="glyphicon glyphicon-time card-span-left">1h 30m</span>
							<span class="glyphicon glyphicon-thumbs-up card-span-left">799</span>
							<span><a href="#" class="btn btn-primary">Enroll Now</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- card end-->
<!-- ----start---- -->
	<div class="container-fluid mt-4">
		<div class="text-center mt-2"><a href="#"> Lead More Courses</a><span class="glyphicon glyphicon-menu-right"></span></div>
		<div class="row text-center mt-4"> 
			<div class="col-12 col-sm-12 col-md-4 col-lg-4">
				<img src="../img/1.png">
				<h4 class="mt-4">NEED HELP ? CONTACT US</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4">
				<img src="../img/2.png">
				<h4 class="mt-4">COURSE TITLE 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4">
				<img src="../img/1.png">
				<h4 class="mt-4">COURSE TITLE 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
<!-- ----end---- -->
<footer>
		<div class="container-fluid">
			<ul class="footer-bottom">
				<li class="footer-item"><a href="#">Term Condition</a></li>
				<li class="footer-item"><a href="#">Privacy</a></li>
				<li><a href="#">Support</a></li>
				<li class="footer-item1"><a href="#">&copy; 2019 Techademy</a></li>
			</ul>
		</div>
	</footer>	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
</body>
</html>