<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body>
	<section>
		<nav class="navbar navbar-expand home-head">
			<ul class="navbar-nav">
				<li class="nav-item">
					<span class="tech2">techademy1</span>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<span class="glyphicon glyphicon-home"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">COURSE CATALOGUE</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">MY LEARNING</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">MY SKILLS</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">ASSIGNMENTS</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item badge">
					<a href="#">
						<img class="badge1" src="../img/badges1.jpg">
						<img class="badge2" src="../img/badges2.jpg">
						<img class="badge3" src="../img/badges3.jpg">
						<img class="badge4" src="../img/badges4.jpg">
						<span class="glyphicon glyphicon-menu-down badge-icon"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#">
						<img class="img-user1" src="../img/user.jpg">
						<span class="glyphicon glyphicon-option-vertical"></span>
					</a>
				</li>
				<!--<span class="glyphicon glyphicon-menu-hamburger" id="hamburger"></span>-->
			</ul>

		</nav>
	</section>
	
	<script type="text/javascript" href="js/jquery.js"></script>
	<script type="text/javascript" href="js/bootstrap.js"></script>
	<script type="text/javascript" href="js/application.js"></script>
</body>
</html>