<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home page </title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="home-body">
	<header>
		<div class="menu-bar">
			<a href="#" class="bt-menu"><span class="glyphicon glyphicon-menu-hamburger">Techademy1</span></a></div>
		<nav>
			<ul>
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li><a href="#">COURSE CATALOGUE</a></li>
				<li><a href="#">MY LEARNING</a></li>
				<li><a href="">MY SKILLS</a></li>
				<li><a href="#">ASSIGNMENTS</a></li>

			</ul>
		</nav>
	</header>
	
	<script type="text/javascript" href="js/jquery.js"></script>
	<script type="text/javascript" href="js/bootstrap.js"></script>
	<script type="text/javascript" href="js/application.js"></script>
</body>
</html>