<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="home-body">
	<header>
		<div class="container-fluid">
        <button class="hamburger" type="button" href="show1"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
        <a class="user" href="#"><span class="user-name"></span><span class="user-pic"></span></a><a class="techademy1" href="#">Techademy</a>
        <ul class="navigation">
        	<li class="homenav" id="show1"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>        	<li><a href="#">Course Catalogue</a></li>
          	<li><a href="#">My Learning</a></li>
          	<li><a href="#">My Skills</a></li>
          	<li><a href="#">Assignments</a></li>
          	<li class="viewBadges">
          	 	<a class="badgeDrop" href="#">
          	 		<span class="badges badge1"></span>
          	 		<span class="badges badge2"></span>
          	 		<span class="badges badge3"></span>
          	 		<span class="badges badge4"></span>
          	 		<span class="glyphicon glyphicon-menu-down"></span>
          	 	</a>
          	 	<div class="drop-down d-none">
	          	 	<a href="#"><div class="badges badge1"></div></a>
	                <a href="#"><div class="badges badge2"></div></a>
	                <a href="#"><div class="badges badge3"></div></a>
	                <a href="#"><div class="badges badge4"></div></a>
	                <a href="#"><div class="badges badge3"></div></a>
	                <a href="#"><div class="badges badge1"></div></a>
	                <a href="#"><div class="badges badge2"></div></a>
	                <a href="#"><div class="badges badge4"></div></a>
            	</div>
        	</li>
        </ul>
    </header>
	<script type="text/javascript" href="js/jquery.js"></script>
	<script type="text/javascript" href="js/bootstrap.js"></script>
	<script type="text/javascript" href="js/application.js"></script>
</body>
</html>