<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Techademy Projects</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
<body>
	<section class="head-section">
		<div>
			<img src="../img/learn-lang.jpg" class="img-head" />
				<nav class="navbar navbar-expand index-head-bar">
					<div class="tech1">techademy</div>
					<div>
						<ul class="navbar-nav">
							<li class="nav-item"><a href="home.html" class="nav-link"> HOME</a></li>
							<li class="nav-item"><a href="#" class="nav-link"> COURSES</a></li>
						</ul>
					</div>
					<div class="head-form">
						<input type="text" name="name" placeholder="USER NAME">
						<input type="pasword" name="name" placeholder="PASSWORD">
						<button class="btn btn-primary submit" href="#" type="submit">Submit</button>
					</div>
				</nav>
		</div>

		<div class="head-center text-center">
			<h1>TOP COURSES</h1>
			<h1>ON TECHADEMY</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
			<p> <strong>sed do eiusmod</strong> tempor incididunt</p>
		</div>
		
		<div class="text-center">
			<a href="#"><span class="glyphicon glyphicon-arrow-down center-btn"></span></a>
		</div>
	</section>
	<!--section end fisrt-->

	<section class="content-section">
		<div class="column-layout">
			<div class="column-left text-center">
				<img src="../img/img-user1.jpg" class="img-left">
					<h1>LATEST TECHADEMY</h1>
					<p><strong>Courses</strong></p>
			</div>
			<div class="column-right text-center">
				<img src="../img/learn-user.jpg" class="img-right">
					<h1>COMMUNITY</h1>
					<p><strong>Students</strong></p>
					<a href="#" >Read more</a>
			</div>
		</div>
	</section>
	<!-- Carousel used card-->
	

	<section class="container section-card">
	    <div class="row">
	        <div class="col-lg-12">
	           	<h1>Techademy Popular Courses</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
				<button class="btn btn-primary" type="button" href="#">View ALL Courses</button> 
	        </div>
	    </div>
	</section>

	<section class="carousel slide" data-ride="carousel" id="postsCarousel">
	        <div class="container carousel-inner">
		        <div class="row">
		            <div class="col-12 col-md-4">
		                <div class="card" style="width: 23rem;">
							  <img src="../img/nature1.jpg" class="card-img-top" alt="carousel 1">
							  <div class="card-body">
								    <h5 class="card-title">Course 1</h5>
								    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							  </div>
							  <div class="card-footer">
							  		<span class="glyphicon glyphicon-time">1h 30Min</span>
							  		<span class="glyphicon glyphicon-thumbs-up">880</span>
							  		<a href="#" class="btn btn-primary">Enroll Now</a>
							  </div>
						</div>
		            </div>
		            <div class="col-12 col-md-4">
		                <div class="card" style="width: 23rem;">
							  <img src="../img/nature6.jpg" class="card-img-top" alt="carousel 1">
							  <div class="card-body">
								    <h5 class="card-title">Course 1</h5>
								    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							  </div>
							  <div class="card-footer">
							  		<span class="glyphicon glyphicon-time">1h 30Min</span>
							  		<span class="glyphicon glyphicon-thumbs-up">880</span>
							  		<a href="#" class="btn btn-primary">Enroll Now</a>
							  </div>
						</div>
		            </div>
		            <div class="col-12 col-md-4">
		                <div class="card" style="width: 23rem;">
							  <img src="../img/nature3.jpg" class="card-img-top" alt="carousel 1">
							  <div class="card-body">
								    <h5 class="card-title">Course 1</h5>
								    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							  </div>
							  <div class="card-footer">
							  		<span class="glyphicon glyphicon-time">1h 30Min</span>
							  		<span class="glyphicon glyphicon-thumbs-up">880</span>
							  		<a href="#" class="btn btn-primary">Enroll Now</a>
							  </div>
						</div>
		            </div>
		            
		        </div>
		    </div>
		    <div class="round-circle">
		    	<span class="dots"></span>
		    	<span class="dots"></span>
		    	<span class="dots"></span>
		    	<span class="dots"></span>
		    	<span class="dots"></span>
		    	<span class="dots"></span>
		    </div>
	</section>

	<section class="container">
		<div class="text-center">
			<h1>Techademy Courses Categories</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		</div>
		<div class="row text-center">
			<div class="card row-img" style="width: 22rem;">
  				<img src="../img/course.jpg" class="card-img-top" alt="card1">
  			</div>
			<div class="card row-img" style="width: 22rem;">
  				<img src="../img/course.jpg" class="card-img-top" alt="card1">
  			</div>
			<div class="card row-img" style="width: 22rem;">
  				<img src="../img/course.jpg" class="card-img-top" alt="card1">
  			</div>
		</div>
		<div class="row text-center">
			<div class="card row-img" style="width: 22rem;">
  				<img src="../img/course.jpg" class="card-img-top" alt="card1">
  			</div>
			<div class="card row-img" style="width: 22rem;">
  				<img src="../img/course.jpg" class="card-img-top" alt="card1">
  			</div>
			<div class="card row-img" style="width: 22rem;">
  				<img src="../img/course.jpg" class="card-img-top" alt="card1">
  			</div>
		</div>

	</section>

	<section class="big-end">
		<div>
			<img src="../img/big-image.jpg" class="img-footer">
				<div class="content-end">
					<h1>Visit Our</h1>
					<h1>Students Community</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
		</div>
	</section>

	<section class="back-end-color">
		<div class="container end-column">
			<div class="follow">
				<h3>TECHADEMY</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<div class="follow-ul">Follow Us
					
					<a href="#"><span class="glyphicon glyphicon-user"></span></a>
					<a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
					<a href="#"><span class="glyphicon glyphicon-cloud"></span></a>
					<a href="#"><span class="glyphicon glyphicon-user"></span></a>
				</div>
			</div>
			<div class="follow2">
				<h3>Useful Links</h3>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Skills</a></li>
					<li><a href="#">Leaderboard</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
			</div>
			<div class="follow3">
				<h3>Contact Us</h3>
				<ul>
					<li><a href="#"><span class="glyphicon glyphicon-phone"> +61 123 345 2341</span></a></li>
					<li><a href="#"><span class="glyphicon glyphicon-envelope"> Info@123.gmail.com</span></a></li>
				</ul>
			</div>
		</div>
	</section>

	<footer class="footer-end">
		<div class="content-footer">
				<a href="#"><span>Term of Conditions</span></a>
				<a href="#"><span>Privacy</span></a>
				<a href="#"><span>Support</span></a>
				<a href="#"><span class="footer-right">&copy; 2019 TECHADEMY</span></a>
			
		</div>
		
	</footer>
	<!--javascript start-->
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
</body>
</html>