<!DOCTYPE html>
<html>
	<head>
		<title>Techademy Projects</title>
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
<body>
	<header>
		<div class="container-fluid">
			<nav class="navbar navbar-expand">
				<ul class="navbar-nav">
					<h5 class="techademy">TECHADEMY</h5>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Home
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Courses
						</a>
					</li>
										
				</ul>
				<form action="#">
					<div class="form-group">
						<input type="text" name="name" placeholder="UserName">
						<input type="password" name="Password" placeholder="Password">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
				
			</nav>		
		</div>
	</header>	
	<script type="text/javascript" href="js/application.js"></script>
	<script type="text/javascript" href="js/bootstrap.js"></script>
	<script type="text/javascript" href="js/jquery.js"></script>
</body>
</html>