<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Techademy Projects</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
<body>
	<header>
		<div class="container-fluid">
			<button type="button" class="hamburger">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<a href="#" class="techademy">Techademy</a>
			<ul class="navigation">
				<li class="close">
					<a href="#">&times;</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-home"></a>
				</li>
				<li>
					<a href="course-catelogue.html">COURSE CATELOGUE</a>
				</li>
				<li>
					<a href="mylearning.html" class="hasSubmenu">MY LEARNING <span class="glyphicon glyphicon-menu-down"></span></a>
					<ul class="dropMenu">
						<li class="back">
							<a href="#"><</a>
						</li>
						<li>
							<a href="#">Sub Menu 1</a>
						</li>
						<li>
							<a href="#">Sub Menu 2</a>
						</li>
						<li>
							<a href="#">Sub Menu 3</a>
						</li>
						<li>
							<a href="#">Sub Menu 4</a>
						</li>
						<li>
							<a href="#">Sub Menu 5</a>
						</li>
					</ul>

				</li>
				<li>
					<a href="myskills.html">MY SKILLS</a>
				</li>
				<li>
					<a href="#">ASSIGMENTS</a>
				</li>

				<li>
					<a href="#">FAQ</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
				</li>
			</ul>


		</div>
	</header>
	<section>
		<div class="container-fluid">
			<button type="button" class="hambu-head">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<div class="search">
				<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<ul class="head-main">
				<li><a href="#">Leader board</a></li>
				<li><a href="#">Learning Paths</a></li>
				<li><a href="#">Social</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-menu-down"></span></a></li>

			</ul>
			
		</div>
	</section>
	<!-- course My Learning start-->
	<div class="mb-6"> 
		<img src="../img/plan.jpg" class="banner-bg">
		<h1 class="text-center font-weight-bold online-img">MY SKILLS</h1>
	</div>
<!-------------------My Skills Contents------------------>
	<div class="container-fluid grid-main">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="grid-block1">				
					<h4 class="text-center mycomp">MyCompleted Skills</h4><hr class="border border-success">
						<div class="row">
							<div class="col-5">
								<ol class="border-ol">
									<li>1.Core Java</li>
									<li>2.Javascript</li>
									<li>3.Angular Js</li>
								</ol>
							</div>
							<div class="col-7">
								<ol class="border-ol">
									<li class="border1">Intermediate level</li>
									<li class="border1">Intermediate level</li>
									<li class="border1">Intermediate level</li>
								</ol>
							</div>
						</div>	
						<hr class="border border-light">
					<span class="glyphicon glyphicon-menu-down center-middle"></span>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="grid-block1">				
					<h4 class="text-center">Skills in Progress</h4><hr class="border border-primary">
						<div class="row">
							<div class="col-5">
								<ol class="border-ol">
									<li>1.Core Java</li>
									<li>2.Javascript</li>
									<li>3.Angular Js</li>
								</ol>
							</div>
							<div class="col-7">
								<ol class="border-ol">
									<li class="border1">Advanced level</li>
									<li class="border1">Advanced level</li>
									<li class="border1">Advanced level</li>
								</ol>
							</div>
						</div>	
						<hr class="border border-light">
					<span class="glyphicon glyphicon-menu-down center-middle"></span>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="grid-block1">				
					<h4 class="text-center">Related Learning</h4><hr class="border border-warning">
						<div class="row">
							<div class="col-5">
								<ol class="border-ol">
									<li>1.Core Java</li>
									<li>2.Javascript</li>
									<li>3.Angular Js</li>
								</ol>
							</div>
							<div class="col-7">
								<ol class="border-ol">
									<li class="border1">Advanced level</li>
									<li class="border1">Advanced level</li>
									<li class="border1">Advanced level</li>
								</ol>
							</div>
						</div>	
						<hr class="border border-light">
					<span class="glyphicon glyphicon-menu-down center-middle"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="grid-block1">				
					<h4 class="text-center">Peer Skills</h4><hr class="border border-success">
						<div class="row">
							<div class="col-5">
								<ol class="border-ol">
									<li>1.Core Java</li>
									<li>2.Javascript</li>
									<li>3.Angular Js</li>
								</ol>
							</div>
							<div class="col-7">
								<ol class="border-ol">
									<li class="border1">Intermediate level</li>
									<li class="border1">Intermediate level</li>
									<li class="border1">Intermediate level</li>
								</ol>
							</div>
						</div>	
						<hr class="border border-light">
					<span class="glyphicon glyphicon-menu-down center-middle"></span>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-2">
				<div class="grid-block1">				
					<h4 class="text-center">Available Skills</h4><hr class="border border-primary">
						<div class="row">
							<div class="col-5">
								<ol class="border-ol">
									<li>1.Core Java</li>
									<li>2.Javascript</li>
									<li>3.Angular Js</li>
								</ol>
							</div>
							<div class="col-7">
								<ol class="border-ol">
									<li class="border1">Advanced level</li>
									<li class="border1">Advanced level</li>
									<li class="border1">Advanced level</li>
								</ol>
							</div>
						</div>	
						<hr class="border border-light">
					<span class="glyphicon glyphicon-menu-down center-middle"></span>
				</div>
			</div>
		</div>
	</div>



<!-------------------My Skills Contents------------------>
	<footer>
		<div class="container-fluid">
			<ul class="footer-bottom">
				<li class="footer-item"><a href="#">Term Condition</a></li>
				<li class="footer-item"><a href="#">Privacy</a></li>
				<li><a href="#">Support</a></li>
				<li class="footer-item1"><a href="#">&copy; 2019 Techademy</a></li>
			</ul>
		</div>
	</footer>	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
</body>
</html>