<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Techademy Projects</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
<body>
	<header>
		<div class="container-fluid">
			<button type="button" class="hamburger">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<a href="#" class="techademy">Techademy</a>
			<ul class="navigation">
				<li class="close">
					<a href="#">&times;</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-home"></a>
				</li>
				<li>
					<a href="course-catelogue.html">COURSE CATELOGUE</a>
				</li>
				<li>
					<a href="mylearning.html" class="hasSubmenu">MY LEARNING <span class="glyphicon glyphicon-menu-down"></span></a>
					<ul class="dropMenu">
						<li class="back">
							<a href="#"><</a>
						</li>
						<li>
							<a href="#">Sub Menu 1</a>
						</li>
						<li>
							<a href="#">Sub Menu 2</a>
						</li>
						<li>
							<a href="#">Sub Menu 3</a>
						</li>
						<li>
							<a href="#">Sub Menu 4</a>
						</li>
						<li>
							<a href="#">Sub Menu 5</a>
						</li>
					</ul>

				</li>
				<li>
					<a href="myskills.html">MY SKILLS</a>
				</li>
				<li>
					<a href="#">ASSIGMENTS</a>
				</li>

				<li>
					<a href="badge.html">FAQ</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a>
				</li>
			</ul>


		</div>
	</header>
	<section>
		<div class="container-fluid">
			<button type="button" class="hambu-head">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<div class="search">
				<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<ul class="head-main">
				<li><a href="#">Leader board</a></li>
				<li><a href="#">Learning Paths</a></li>
				<li><a href="social.html">Social</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-menu-down"></span></a></li>

			</ul>
			
		</div>
	</section>
	<!-- ---------social content start----------->
	<div> 
		<img src="../img/plan.jpg" class="banner-bg">
		<h1 class="text-center font-weight-bold online-img">Community Learning Enabled</h1>
	</div>
	<div class="container input-group mt-3">
  		<input type="text" class="form-control" placeholder="search" aria-label="Recipient's username" aria-describedby="button-addon2">
  		<div class="input-group-append">
    		<button class="btn btn-primary btn-sm" type="button" id="button-addon2">Go</button>
  		</div>
	</div>
	<div class="container-fluid mt-3">
		<nav aria-label="breadcrumb" class="nav-social">
			<ol class="breadcrumb ol-social">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item"><a href="#">Course catelogue</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Social</li>
			</ol>
		</nav>
	</div>
	<div class="container-fluid">
		<h4>Discuss Form</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 col-lg-8">
				<h4>Topic</h4><hr class="border border-secondary">
				<div>
					<h4>How is techademy meeting your security need ?</h4>
				</div>
				<div>
					<span>Started by sonia_s</span>
					<span>30 Jan 2019</span>
				</div>
				<div>
					<span><button type="button" class="btn btn-secondary btn-sm" href="#">Announcement</button></span>
					<span class="glyphicon glyphicon-eye-open">13 views</span>
					<span class="glyphicon glyphicon-comment">0 comments</span>
				</div><hr class="border border-secondary">
			</div>
			<div class="col-12 col-sm-12 col-md-8 col-lg-8">
				
				<div>
					<h4>How is techademy meeting your security need ?</h4>
				</div>
				<div>
					<span>Started by sonia_s</span>
					<span>30 Jan 2019</span>
				</div>
				<div>
					<span><button type="button" class="btn btn-secondary btn-sm" href="#">Announcement</button></span>
					<span class="glyphicon glyphicon-eye-open">13 views</span>
					<span class="glyphicon glyphicon-comment">0 comments</span>
				</div><hr class="border border-secondary">
			</div>
			<div class="col-12 col-sm-12 col-md-8 col-lg-8">
				
				<div>
					<h4>How is techademy meeting your security need ?</h4>
				</div>
				<div>
					<span>Started by sonia_s</span>
					<span>30 Jan 2019</span>
				</div>
				<div>
					<span><button type="button" class="btn btn-secondary btn-sm" href="#">Announcement</button></span>
					<span class="glyphicon glyphicon-eye-open">13 views</span>
					<span class="glyphicon glyphicon-comment">0 comments</span>
				</div><hr class="border border-secondary">
			</div>
			<div class="col-12 col-sm-12 col-md-8 col-lg-8">
				
				<div>
					<h4>How is techademy meeting your security need ?</h4>
				</div>
				<div>
					<span>Started by sonia_s</span>
					<span>30 Jan 2019</span>
				</div>
				<div>
					<span><button type="button" class="btn btn-secondary btn-sm" href="#">Announcement</button></span>
					<span class="glyphicon glyphicon-eye-open">13 views</span>
					<span class="glyphicon glyphicon-comment">0 comments</span>
				</div><hr class="border border-secondary">
			</div>
			<div class="col-12 col-sm-12 col-md-8 col-lg-8">
				
				<div>
					<h4>How is techademy meeting your security need ?</h4>
				</div>
				<div>
					<span>Started by sonia_s</span>
					<span>30 Jan 2019</span>
				</div>
				<div>
					<span><button type="button" class="btn btn-secondary btn-sm" href="#">Announcement</button></span>
					<span class="glyphicon glyphicon-eye-open">13 views</span>
					<span class="glyphicon glyphicon-comment">0 comments</span>
				</div><hr class="border border-secondary">
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4">
				<div class="row-right">
					<button class="btn btn-primary btn-block" type="button" href="#">New Discussion</button>
					<div class="mt-3">
						<h4>Categories</h4>
						<span class="glyphicon glyphicon-comment"> Recent Discussions</span><br>
						<span class="glyphicon glyphicon-comment"> Activities</span>
					</div>
					<div class="mt-3">
						<h4>Categories</h4>
						<span class="glyphicon glyphicon-comment"> Recent Discussions</span><br>
						<span class="glyphicon glyphicon-comment"> Activities</span>
					</div>
					<div class="mt-3">
						<h4>Vertica Forum <b>4.7k</b></h4>
						<div>
							<p>Community Annoucements <span class="badge badge-danger"> 7</span></p>
							<p>Vertica Tips <span class="badge badge-danger"> 8</span></p>
							<p>Lnowladhe base Comments <span class="badge badge-danger"> 9</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer>
		<div class="container-fluid">
			<ul class="footer-bottom">
				<li class="footer-item"><a href="#">Term Condition</a></li>
				<li class="footer-item"><a href="#">Privacy</a></li>
				<li><a href="#">Support</a></li>
				<li class="footer-item1"><a href="#">&copy; 2019 Techademy</a></li>
			</ul>
		</div>
	</footer>	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
</body>
</html>