.img-head{
	width: 100%;
	height: 700px;
}
.index-head-bar {
	margin-top: -700px;
}
.tech1{
	background-image: url("../img/techademy.png");
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 22px;
	color: transparent;
	width: 150px;
}
.navbar-nav {
	margin-left: 200px;
}
.nav-item {
	margin-left: 20px;
}
.nav-link {
	color: #999;	
}
.head-form {
	margin-left: 150px;
}
input {
	height: 35px;
	margin-top: 5px;
	border-radius: 50px;
	border:1px solid #fff;
	padding-left: 15px;
}
.submit {
 
 width: 150px;
 border-radius: 50px;
}
.head-center {
	margin-top: 260px;
	color: #000;         
 
} 
.head-center p {
	line-height: 10px;
    font-size: 20px;
    color: #fff;
}

.center-btn {
	margin-top: 20px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	border:1px solid #fff;
	background-color: #fff;
	padding-top: 10px;
}
.column-layout {
	display: flex;
	margin-top: 62px;
}
.img-left {
	width: 674px;
	height:250px;	
	margin-top: 94px;
}
.column-left h1{
	margin-top: -150px;
	color: #333;
}
.column-right h1{
	margin-top: -150px;
	color: #333;
}
.img-right {
	width: 674px;
	height:250px;
	margin-top: 94px;
}
.column-right a:hover {
	
	text-decoration: none;
}
.column-right a {
	border:2px solid blue;
	border-radius: 50px;
	padding: 5px 20px;
	background-color: #fff;
}
.section-card {
	margin-top: 70px;
	text-align: center;
}
.next {
	float: right;
	text-align: right;
}
.round-circle {
	text-align: center;
	margin-top: 15px;
}
.dots {
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin:0 10px;

}
.row-img {
	margin: 10px 10px;
}
.img-footer {
	width: 100%;
	height: 600px;
}
.content-end {
	margin-top: -400px;
	width: 400px;
	margin-left: 700px;
}
.back-end-color {
	background-color: #28303D;
	margin-top: 70px;
}
.end-column {

	padding: 40px 0;
	display: flex;
	color: #fff;
}
.end-column p{
	color: #fff;
}
.follow-ul {
	padding: 40px 0;
}
.follow-ul a{
	padding-left: 15px;
	color: #fff;
}
.follow {
	flex: 2;

}
.follow2, .follow3 ul {
	line-height: 2.6em;
}
.follow2 li {
	list-style-type: none;

}
.follow2 a:hover {
	color: #fff;
	text-decoration: none;
}
.follow2 a {
	color: #fff;
}
.follow2 {
	flex: 1;
}
.follow3 {
	flex: 1;
}
.follow3 li {
	list-style-type: none;
}
.follow3 a:hover {
	color: #fff;
	text-decoration: none;
}
.follow3 a {
	color: #fff;
}
.footer-end {
	background-color: #28343e;

}
.content-footer{
	display: flex;
	padding: 20px 0px;

}
.content-footer span {
	
	padding: 0 20px;
	color: #fff;
}
.content-footer a:hover {
	color: #fff;
	text-decoration: none;
}
.footer-right {
	float: right;
	margin-left: 800px;
}

/* Home page start *
.home-head {
 display: flex;
 position: relative;
 flex-direction: row;
 background-color: #131925;
 margin: 0;
 padding: 10px 10px;
}
.home-head a {
	text-decoration: none;
	color: #fff;
}
.badge {
	top: 0;
	left: 0;
	position: relative;
}
.badge1 {
	left:-90px;
	position: relative;
	z-index: 1;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}
.badge2 {
	left: -122px;
	position: relative;
	z-index: 2;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}
.badge3 {
	left: -147px;
	position: relative;
	z-index: 3;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}
.badge4 {
	left: -173px;
	position: relative;
	z-index: 4;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}
.badge-icon::before {
	margin-left: -320px;
	font-size: 20px;
}
.img-user1 {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	margin-left: 15px;
}
.tech2 {
	background-image: url("../img/techademy.png");
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 22px;
	color: transparent;
	width: 150px;
	margin-left: -190px;
	padding-top: -25px;

}
.tech2 a{
	color: transparent;
}
/*.home-body {
	background-color: #131925;
}

/* Media Query home page */
/*---- home page start----*/
a {
  color: #B9BBBF; 
}

a:hover {
  color: #FFF; 
}

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none; 
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}
.head-nav {
	background-color: #131925;
	width: 100%;
}
.head-nav .navbar {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	background-color: #131925;
}
.menu-bar {
	display:none;
}
.head-nav .navbar ul {
	/*overflow: hidden;*/
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.head-nav .navbar ul li {
	left: none;
	
}
.head-nav .navbar ul li a {
	color: #fff;
	padding: 20px;
	display: block;
	text-decoration: none;
}
.head-nav .navbar ul li span {
	margin-right: 10px;
} 
.head-nav .navbar ul li a:hover{
	background-color: #131920;

}
/*@media screen and (max-width: 425px){
	.head-nav .navbar {
		width: 100%;
		height: 80%;
		left: -100%;
		margin: 0;
		position: fixed;
	}
	.head-nav .navbar ul li {
		display: block;
		float: none;
		border-bottom: 1px solid blue;
	}
	.menu-bar {
		display: block;
		width: 100%;
		background-color: #131925;
	}
	.menu-bar .bt-menu {
		display: block;
		padding: 20px;
		background-color: #131925;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		box-sizing: border-box;
	}
	.menu-bar span {
		float: right;
		font-size: 40px;
	}
}*/





body {
	background-color:#131925; 
}





header {
	background-color: #131925;
}

header .container-fluid {
	display: flex;
	justify-content: space-between;
}

.hamburger {
	position: absolute;
	border: none;
	background: transparent;
	color: #FFF;
	top: 13px;
	left: 7px;
	font-size: 1.3em;
}

.techademy {
	background-image: url("../img/techademy.png");
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 1px;
	color: transparent;
	width: 165px;
	margin: 10px auto;
	display: block;
	height: 39px;
}

.navigation {
	position: absolute;
	background-color: #131925;
	display: flex;
	flex-direction: column;
	width: 320px;
	max-width: 320px;
	top: 0;
	left: -101%;
	z-index: 1;
}
.navigation.open, .navigation .dropMenu.open {
	left: 0;
}
.navigation li a {
	display: block;
	padding: 15px;
}

.navigation .close, .navigation .back {
	text-align: right;
}

.navigation .dropMenu {
	position: absolute;
	width: 320px;
	top: 0;
	left: -101%;
	background-color: #131925;
	z-index: 2;
}







@media screen and (min-device-width: 992px) 
{
	.hamburger, .navigation .close, .navigation .back {
		display: none;
	}
	.techademy {
		margin: 10px 20px;
	}
	.navigation {
		position: static;
		flex-direction: row;
		max-width: unset;
		width: unset;
	}
	.navigation li {
		position: relative;
	}
	.navigation .dropMenu {
		left: 0;
		top: 45px;
		display: none;
	}
	.navigation .dropMenu.open {
		display: block;
	}
}
section {
	left: 0;
	top: 0;
	background-color: #28303d;
	padding: 10px 0;
	
}
.glyphicon-search{
	top: -25px;
	float: right;
	left: -30px;
}
.hambu-head {
	position: relative;
	background-color:#28303d;
	float: right; 
	border: none;
	font-size: 16px;
	color: white;
}
.search input{
	width: 90%;
	background-color:#3d464a;
	border:none;
}
.head-main {
	display: none;
}


@media screen and (min-device-width: 768px) {
	.search input {
		width: 40%;
	}
	.hambu-head {
		display: none;
	}
	.glyphicon-search{
		top: -25px;
		float: right;
		left: -450px;
	}
	.head-main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 310px;
    	margin-top: -30px;
	}
	.head-main a {
		color: #f5b505;
	}
	.head-main span {
		padding-left: 5px;
		color: grey;
	}
}
@media screen and (min-device-width: 1024px) {
	.head-main {
		position: relative;
		justify-content: flex-end;
		margin-left: 30px;
	}
	.head-main li {
		padding: 0 20px;
	}
	.glyphicon-search{
		top: -25px;
		float: left;
		left: 370px;
		
	}
}

/*----footer start----*/
.footer-bottom {
	display: none;
}
footer {
	background-color: #28303d;
	margin-top: 100px;
}
.footer-item:after { 
	content: " | ";
	color: white;
	margin-left: 20px;

}
@media screen and (min-device-width: 768px){
	.footer-bottom {
		display: flex;
		flex-direction: row;
		position: relative;
	}
	.footer-bottom li {
		padding: 10px 10px;
	}
	.footer-item1 {
		margin-left: 230px;
	}
}	

@media screen and (min-device-width: 1024px) {
	.footer-item1 {
		margin-left: 490px;
	}
}
.progress-bg {
	background-color:#28303d; 
	padding:20px 10px;
	margin: 10px 0;
}
h4,h5,p,span{
	color: white;
}
.progress-warning {
	width: 45%;
	border-radius: 50px;
	height: 20px;

}
.progress-orange {
	width: 80%;
	border-radius: 50px;
	height: 20px;

}
.progress-success {
	width: 55%;
	border-radius: 50px;
	height: 20px;

}
.progress-padd {
	padding-bottom: 15px;
}
.select1 {
	float: right;
	margin-top: -30px;
	border:1px solid grey;
	border-radius: 50px;
	padding: 5px 5px;
}
.progress-hieght {
	height: 20px;
	border-radius: 50px;
	background-color: #474747;
}

.img-table {
	border-radius: 50px;
	width: 50px;
	height: 50px;

}
table {
	color: white;

}
.td-span span {
	border-radius: 50px;
	background-color: #28303d;
	padding:3px 15px;
}
.side-up-table {
	background-color: #28303d;
	padding: 15px 15px;
	margin-bottom: 22px;
}
.side-down-table {
	background-color: #28303d;
	padding: 15px 15px;
}
.card-border {
	border:none;
	margin: 0 -5px;
	height: 250px;
}
.course-recom span {
	float: right;
}
.dates {
	background-color: #28303d;
	margin-bottom: 100px;
	color: #2471a3;
}

/*---- course catelogue-----*/

.banner-bg {
	height: 250px;
	width:100%;
	margin-top: -12px;
}
.online-img {
	margin-top: -150px;
	text-align: center;
	color: #fff;
}
.bar-button {
	margin-top: 102px;
	background-color: #28303d;
}
.button-ul-left{
	display: flex;
	padding: 10px 10px;
}

.button-li {
	display: none;
}
@media screen and (min-device-width: 768px) {
	.button-li {
		display: flex;
		margin-top: -38px;
		padding-right: 20px;
	}
	.one {
		
		border-radius: 50px;
		padding-bottom: -15px;
		margin-top: -51px;
	}
	.one span {
		margin-top:15px;
		left: -30px;
	}
	.one input {
		background-color: #28303d;
		border:1px solid grey;
	}
}
.bread-one {
	background-color:#131925;
	display: flex;
	margin-left: -8px;
	padding: 0px;
}
.bread-one li {
	margin-left: -8px;
	padding-left: 4px;
}
.card-course {
	background-color: #28303d;
}
.card-span {
	color:#f8fc03;
	font-size: 15px;
	top: -26px;
	float: right;
}
.card-span1 {
	
	top: -26px;
	font-size: 15px;
	float: right;
}
.card-footer {
	margin-left: -10px;
	margin-right: -10px;
	border-top: 1px solid #131925;
}
.card-footer a {
	float: right;
	border-radius: 50px;
	margin-right: -23px;
}
.card-footer span {
	padding: 0 0px;
}
.card-footer.card-span-left {
	padding: 10px 10px;
}

/* <------------------------- my learning start --------------------->*/
.my-li {
	margin-top: -29px;
}
.my-li a {
	color: blue;
	text-decoration: underline;
}
.btn-card {
	border-radius: 50px;
}
.my-button{
	background-color: #28303d;
}

/*-------------------My Skills Css start-----------------*/
.grid-main{
	margin-top: 120px;
}
.grid-block1 {
	background-color: #28303d;
	padding: 10px 10px
	
}
.center-middle {
	left: 120px;
}
.border1 {
	background-color: #262626;
	border-radius: 50px;
	margin-bottom: 4px;
	text-align: center;
}
.border-ol{
	line-height: 2.5em;
	color: #fff;
}
.primary1 {
	color: green;
}

@media screen and (min-device-width: 768px) {
	.border-ol{
		line-height: 2.5em;
		color: #fff;
	}
	.mycomp {
		left: -10px;
	}
}


/* ------------Assignments-------------*/
.gen-report {
	border:1px solid grey;
	border-radius: 50px;
	padding: 4px 8px;
}
.gen-btn{
	border-radius: 50px;
}
.table1 {
	color: #fff;
}
.thead-table {
	background-color: #28303d;
	border-top: 2px solid #28303d;
	border-bottom: 3px solid #28303d;
}
.tbody-table {
	border-bottom: 2px solid #28303d;
	
}
.tbody-table td {
	border-bottom: 2px solid #28303d;
}
.page-btn a {
	background-color:#28303d;
	border:none;
}


/*--------------badges css start------------*/
.group-btn {
	margin-top: 102px;
	background-color:#28303d;
	padding: 10px 10px;

}
.basic-group {
	border-radius: 50px;
}
.badge-h4 span{
	
	margin-left: 5px;
}
.card-badges {
	background-color:#28303d;
}
.card-badges img {
	height: 170px;
}
.badges-span {
	color: #56b3f5;
}

.badges-table1 {
	color: #fff;
}
.badges-left1 {
	background-color:#28303d;
}
.badges-thead1 {
	border-bottom: 3px solid #6e6e6e;
	border-top: 2pc solid #28303d;
}
.badges-tbody1 img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.badges-tbody1 td {
	border-bottom: 2px solid #6e6e6e;
}
 .badges-tbody1,.badges1-td1 {
	border-bottom: 3px solid #28303d;
}

